       <!--top bar start-->
        <div class="top-bar-v1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-phone-square"></i> (888) 576-5674</a></li>
                            <li><a href="#"><i class="fa fa-envelope-square"></i> info@versa.com</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                        <ul class="list-inline">
                            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown"><img src="/images/ru.png" alt=""> Lang.</a>
                                <ul class="dropdown-menu top-bar-dropdown lang">
                                    <li><a href="#"><img src="/images/us.png" alt=""> English</a></li>
                                    <li><a href="#"><img src="/images/ru.png" alt=""> Russian</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown"><i class="fa fa-user"></i> Login</a>

                                <div class="dropdown-menu top-bar-dropdown dropdown-login-box">
                                    <form role="form">
                                        <h4>Signin</h4>

                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                <input type="text" class="form-control" placeholder="Username">
                                            </div>

                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                <input type="password" class="form-control" placeholder="Password">
                                            </div>
                                            <div class="checkbox pull-left">
                                                <label>
                                                    <input type="checkbox"> Remember me
                                                </label>
                                            </div>                                          
                                            <button type="submit" class="btn btn-lg btn-border btn-hvr btn-rounded hvr-rectangle-in pull-right">Login</button>                 
                                            <div class="clearfix"></div>
                                            <hr>
                                            <p>Don't have an account! <a href="#">Register Now</a></p>
                                        </div>
                                    </form>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--top bar end-->
        <!-- header -->
        <header class="top-header navbar-default navbar navbar-static-top yamm" id="aside1">
            <div class="search-click">
                <div class="container">
                    <form>
                        <input type="text" class="form-control" placeholder="Type and hit enter">
                        <i class="fa fa-times"></i>
                    </form>
                </div>
            </div><!--search bar end-->
            <div class="container">
                <div class="pull-right nav-header-right">
                    <!--                    <div class="h-item dropdown">
                                            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-bag"></i></a> 
                                            <ul class="dropdown-menu h-item-dropdown cart-dropdown">
                                                <li>Your Cart items</li>
                                            </ul>
                                        </div>-->
                    <div class="h-item dropdown-search" id="search-trigger">
                        <a href="javascript:void(0)"><i class="fa fa-search"></i></a>

                    </div>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo-dark.png" alt="logo"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Demos </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="demo-business.html"> Business</a></li>
                                        <li><a href="demo-business-2.html"> Business 2</a></li>
                                        <li><a href="demo-restaurant.html"> Restaurant</a></li>
                                        <li><a href="demo-shop.html"> Shop </a></li>
                                        
                                        <li><a href="demo-portfolio.html"> Portfolio </a></li>
                                                                              
                                        
                                        
                                        <li><a href="demo-photography.html"> Photography </a></li>
                                        <li><a href="demo-fitness.html"> Fitness </a></li>
                                        
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Sliders </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="home-master-slider.html"> Master slider </a></li>
                                        <li><a href="home-master-slider-2.html"> Master slider 2 </a></li>
                                        <li><a href="home-master-slider-3.html"> Master slider 3 </a></li>
                                        <li><a href="home-revolution-classic.html"> Revolution classic </a></li>
                                        <li><a href="home-revolution-fullscreen.html"> Revolution Fullscreen </a></li>
                                        
                                        
                                        <li><a href="home-revolution-hero.html"> Revolution hero </a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">One Page </a>
                                    <ul class="dropdown-menu">
                                        
                                        <li><a href="one-page-slider.html"> Fullscreen Slider </a></li>
                                        <li><a href="one-page-parallax.html"> Parallax </a></li>
                                        <li><a href="one-page-video.html"> Video Background </a></li>
                                        <li><a href="one-page-full-screen.html"> Fullscreen Menu </a></li>
                                        <li><a href="one-page-text-rotate.html"> Text rotator </a></li>
                                        <li><a href="landing-page.html">Agency  Landing page </a></li>
                                        <li><a href="app-landing.html"> App landing </a></li>
                                    </ul>
                                </li>
                                <li><a href="index.html">Home Classic </a></li>
                                <li><a href="index-startup.html"> home Startup </a></li>
                                
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="folio-2-columns.html">2 columns</a></li>
                                <li><a href="folio-3-columns.html">3 columns</a></li>
                                <li><a href="folio-4-columns.html">4 columns</a></li>
                                <li><a href="folio-5-columns.html">5 columns</a></li>
                                <li><a href="folio-masonry.html">Masonry</a></li>
                                <li><a href="folio-full-width.html">Full width</a></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Single </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="folio-detail-1.html"> Style 1</a></li>
                                        <li><a href="folio-detail-simple.html"> Simple</a></li>
                                        
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-regular-grid.html">Regular grid</a></li>
                                <li><a href="blog-masonry-grid.html">Masonry grid</a></li>
                                <li><a href="blog-masonry-sidebar.html">Masonry Sidebar</a></li>
                                <li><a href="blog-timeline.html">Timeline</a></li>
                                <li><a href="blog-large-img.html">Large Image</a></li>
                                <li><a href="blog-small-img.html">Small Image</a></li>
                                
                                
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Post </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="blog-img-post.html"> Image Post</a></li>
                                        <li><a href="blog-video-post.html"> Video Post</a></li>
                                        <li><a href="blog-gallery-post.html"> Gallery Post</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">About us </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="about.html"> About us</a></li>
                                        <li><a href="about-alt.html"> About us 2</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Our team </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="team.html"> Our team</a></li>
                                        <li><a href="team-alt.html">Our team 2</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Services </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="services.html"> Services</a></li>
                                        <li><a href="servies-alt.html"> Services 2</a></li>
                                        <li><a href="services-3.html"> Services 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="pricing.html"> Pricing tables</a></li>
                                <li><a href="faq.html"> F.A.Q.</a></li>
                                <li><a href="login-register.html"> Login / register</a></li>
                                
                                <li><a href="lightbox-gallery.html"> Lightbox Gallery</a></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Contact </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="contact.html"> Contact us</a></li>
                                        <li><a href="contact-alt.html"> contact us 2</a></li>
                                        <li><a href="contact-3.html"> contact us 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="error-404.html"> Error 404</a></li>
                            </ul>
                        </li>
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Features <span class="fa fa-angle-down"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Header styles </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="header-transparent-light.html"> transparent (Light)</a></li>
                                        <li><a href="header-transparent-dark.html"> transparent (Dark)</a></li>
                                        <li><a href="header-sticky-light.html"> Sticky + Topbar</a></li>
                                        <li><a href="header-sticky-dark.html"> Sticky + Topbar Dark</a></li>
                                        <li><a href="header-center.html"> center</a></li>
                                        <li><a href="header-center-alt.html"> center alt</a></li>
                                        
                                        <li><a href="header-fullscreen-minimal.html"> Fullscreen minimal</a></li>
                                        
                                        <li><a href="header-headroom.html"> Headroom</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Footer Styles </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="footer-default.html"> Footer 1</a></li>
                                        <li><a href="footer-2.html"> Footer 2</a></li>
                                        <li><a href="footer-3.html"> Footer 3</a></li>
                                        <li><a href="footer-4.html"> Footer 4</a></li>
                                        <li><a href="footer-5.html"> Footer 5</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Page templates </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="page-full-width.html"> Full width</a></li>
                                        <li><a href="page-left-sidebar.html"> Left sidebar</a></li>
                                        <li><a href="page-right-sidebar.html"> Right sidebar</a></li>
                                        <li><a href="page-both-sidebar.html"> both sidebar</a></li>
                                        <li><a href="page-both-left-sidebar.html"> both left sidebar</a></li>
                                        <li><a href="page-both-right-sidebar.html"> both right sidebar</a></li>
                                        <li><a href="page-sticky-sidebar.html"> Sticky sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!--mega menu-->
                        <li class="dropdown yamm-fw">
                            <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Shortcodes  <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">

                                            <div class="col-sm-3">

                                                <ul class="nav mega-vertical-nav"> 
                                                    <li><a href="animation.html">Animations</a></li>
                                                    <li><a href="buttons.html">buttons</a></li>
                                                    <li><a href="social-buttons.html">Social buttons</a></li>
                                                    <li><a href="tabs.html">Tabs</a></li>
                                                    <li><a href="accordions.html">Accordions</a></li>
                                                    <li><a href="typography.html">typography</a></li>
                                                    <li><a href="testimonials.html">Testimonials</a></li>
                                                    <li><a href="liveicons.html">Live icons <span class="badge">Premium</span></a></li>
                                                    
                                                </ul>

                                            </div>
                                            <div class="col-sm-3">

                                                <ul class="nav mega-vertical-nav">
                                                    <li><a href="carousel.html">Carousel Slider</a></li>
                                                    <li><a href="progress.html">Progress bars</a></li>
                                                    <li><a href="modal-popups.html">Modal popups</a></li>
                                                    <li><a href="lightbox.html">Lightbox</a></li>
                                                    <li><a href="icon-boxes.html">icon boxes</a></li>
                                                    <li><a href="icon-font-awesome.html">Font Awesome icons</a></li>
                                                    <li><a href="paginations.html">Paginations</a></li>
                                                    <li><a href="bearcrumbs.html">breadcrumbs</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">

                                                <ul class="nav mega-vertical-nav">
                                                    <li><a href="alerts.html">Alerts</a></li>
                                                    <li><a href="countdown.html">Countdown</a></li>
                                                    <li><a href="counter.html">Counters</a></li>
                                                    <li><a href="call-to-action.html">Call to actions</a></li>
                                                    <li><a href="price-tables.html">Pricing tables</a></li>
                                                    <li><a href="icon-et-line.html">Et-line icons</a></li>
                                                    <li><a href="black-white-img.html">Black & White images</a></li>
                                                    <li><a href="title-headings.html">Headings</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-3">

                                                <ul class="nav mega-vertical-nav">
                                                    <li><a href="videos.html">Responsive video</a></li>
                                                    <li><a href="img-boxes.html"> Images boxes</a></li>
                                                    <li><a href="maps.html">Google map</a></li>
                                                    
                                                    <li><a href="intro-sections.html">Intro Sections</a></li>
                                                    <li><a href="equalize.html">Equal height columns</a></li>
                                                    <li><a href="img-hover.html">Image hover</a></li>
                                                    <li><a href="form-inputs.html">Form inputs</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li> <!--mega menu end here-->  


                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </header>
        <!-- header end -->


<style>
.sticky {
  position: fixed;
  top: 0px;  /* если ноль заменить на число (и в скрипте тоже), то блок будет прилипать до того, как верхний край окна браузера дойдёт до верхнего края элемента. Может быть отрицательным числом. Применим, например, при фиксированном сверху меню */
  z-index: 101;
}
</style>

<script>
(function(){  // анонимная функция (function(){ })(), чтобы переменные "a" и "b" не стали глобальными
var a = document.querySelector('#aside1'), b = null;  // селектор блока, который нужно закрепить
window.addEventListener('scroll', Ascroll, false);
document.body.addEventListener('scroll', Ascroll, false);  // если у html и body высота равна 100%
function Ascroll() {
  if (b == null) {  // добавить потомка-обёртку, чтобы убрать зависимость с соседями
    var Sa = getComputedStyle(a, ''), s = '';
    for (var i = 0; i < Sa.length; i++) {  // перечислить стили CSS, которые нужно скопировать с родителя
      if (Sa[i].indexOf('overflow') == 0 || Sa[i].indexOf('padding') == 0 || Sa[i].indexOf('border') == 0 || Sa[i].indexOf('outline') == 0 || Sa[i].indexOf('box-shadow') == 0 || Sa[i].indexOf('background') == 0) {
        s += Sa[i] + ': ' +Sa.getPropertyValue(Sa[i]) + '; '
      }
    }
    b = document.createElement('div');  // создать потомка
    b.style.cssText = s + ' box-sizing: border-box; width: ' + a.offsetWidth + 'px;';
    a.insertBefore(b, a.firstChild);  // поместить потомка в цепляющийся блок первым
    var l = a.childNodes.length;
    for (var i = 1; i < l; i++) {  // переместить во вновь созданного потомка всех остальных потомков (итого: создан потомок-обёртка, внутри которого по прежнему работают скрипты)
      b.appendChild(a.childNodes[1]);
    }
    a.style.height = b.getBoundingClientRect().height + 'px';  // если под скользящим элементом есть другие блоки, можно своё значение
    a.style.padding = '0';
    a.style.border = '0';  // если элементу присвоен padding или border
  }
  if (a.getBoundingClientRect().top <= 0) { // elem.getBoundingClientRect() возвращает в px координаты элемента относительно верхнего левого угла области просмотра окна браузера
    b.className = 'sticky';
  } else {
    b.className = '';
  }
  window.addEventListener('resize', function() {
    a.children[0].style.width = getComputedStyle(a, '').width
  }, false);  // если изменить размер окна браузера, измениться ширина элемента
}
})()
</script>