<div class="gray-bg">
    <div class="container">
        <div class="heading-style-center">
            <div class="separator-border"></div>          
            <h2>ПОРТФОЛИО</h2>
            <p class="sub-title">НАПЕЧАТАНО ИЗ ФОТОПОЛИМЕРА "ИННОВ"</p>
        </div><!--style 1 end-->

            <div class="row">
                <div class="col-sm-4 margin-b-30">
                    <div class="image-hover-light">
                        <img src="images/portfolio/img-1.jpg" class="img-responsive" alt="">
                        <a class="overlay" href="#">
                            <p>Title caption</p>
                        </a>
                    </div>
                </div>
                 <div class="col-sm-4 margin-b-30">
                    <div class="image-hover-light">
                        <img src="images/portfolio/img-2.jpg" class="img-responsive" alt="">
                        <a class="overlay" href="#">
                            <p>Title caption</p>
                        </a>
                    </div>
                </div>
                 <div class="col-sm-4 margin-b-30">
                    <div class="image-hover-light">
                        <img src="images/portfolio/img-3.jpg" class="img-responsive" alt="">
                        <a class="overlay" href="#">
                            <p>Title caption</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 margin-b-30">
                    <div class="image-hover-light">
                        <img src="images/portfolio/img-4.jpg" class="img-responsive" alt="">
                        <a class="overlay" href="#">
                            <p>Title caption</p>
                        </a>
                    </div>
                </div>
                 <div class="col-sm-4 margin-b-30">
                    <div class="image-hover-light">
                        <img src="images/portfolio/img-5.jpg" class="img-responsive" alt="">
                        <a class="overlay" href="#">
                            <p>Title caption</p>
                        </a>
                    </div>
                </div>
                 <div class="col-sm-4 margin-b-30">
                    <div class="image-hover-light">
                        <img src="images/portfolio/img-6.jpg" class="img-responsive" alt="">
                        <a class="overlay" href="#">
                            <p>Title caption</p>
                        </a>
                    </div>
                </div>
            </div>        
</div> 