      <div class="container">
        <div class="heading-style-center">
            <div class="separator-border"></div>          
            <h2>КУПИТЬ ФОТОПОЛИМЕРНУЮ СМОЛУ</h2>
            <p class="sub-title">ДЛЯ 3D ПРИНТЕРОВ ПО ТЕХНОЛОГИИ DPL И SLA </p>
        </div><!--style 1 end-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="image-box">
                        <img src="images/bg-2.jpg" alt="" class="img-responsive" style="height: 400px;">
                        <h3>Фотополимерная смола "ИННОВ" <span class="blue">(1 литр)</span></h3>
                        <h3 style="color: green;">6 000 рублей</h3>
                            <ul>
                                <li>Зелёная</li>
                                <li>Красная</li>
                                <li>Жёлтая</li>
                            </ul>
                        <p>
                            Фотополимер для DPL и SLA 3d принтеров. После затвердевания имеет свойства пластика.
                        </p>
                        <a class="btn btn-lg btn-border btn-hvr btn-rounded hvr-radial-out" href="#">Подробнее</a>
                    </div>
                </div><!--col-end-->
                 <div class="col-sm-6">
                    <div class="image-box">
                        <img src="images/bg-4.jpg" alt="" class="img-responsive" style="height: 400px;">
                        <h3>Фотополимерная смола "ИННОВ" <span class="blue">(0,5 литра)</span></h3>
                        <h3 style="color: green;">3 000 рублей</h3>
                        
                            <ul>
                                <li>Зелёная</li>
                                <li>Красная</li>
                                <li>Жёлтая</li>
                            </ul>
                        <p>
                            Фотополимер для DPL и SLA 3d принтеров. После затвердевания имеет свойства пластика.
                        </p>
                        <a class="btn btn-lg btn-border btn-hvr btn-rounded hvr-radial-out" href="#">Подробнее</a>
                    </div>
                </div><!--col-end-->
            </div><!--row-end-->

        </div><!--container-end-->
