 <%= render "header" %>


        <div class="picture">
          <img src="images/girl.png" class="num1 animated fadeInRight" />
          <p class="num3 animated fadeInLeft">Привет!</p>
          <a class="num2 ms-layer btn btn-border-white btn-rounded btn-lg margin-top2">
            Узнать больше
          </a>

        </div>

        <div class="space-70"></div>

<%= render "showcase" %>
        
        <div class="space-70"></div>

<%= render "portfolio" %>

        <div class="space-70"></div>
        <!--grid-text-boxed-2 columns portfolio-->




         <div class="testi-bg">
            <div class="container">
                <div class="row v-align-children aside-block">
                    <div class="col-sm-6 wow animated fadeInLeft" data-wow-delay="0.1s">
                        <h1 class="white">Производство фотополимера для 3D принтеров</h1>
                        <p class="white">
                            Фотополимер "ИННОВ" разработан в России. Практически все компоненты производятся в нашей стране, что даёт полную независимость от скачков цен на иностранные валюты. Более того, благодаря научным изысканиям в области мономеров ультрафиолетового отверждения нам удалось добиться относительной низкой себестоимости производства.
                        </p>
                        <div class="margin-b-20"></div>
                        <p>
                            <a href="javascript:void(0)" class="btn btn-lg btn-border btn-hvr btn-rounded hvr-sweep-to-right">Узнать подробнее</a>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <img src="images/girl.png" alt="" class="img-responsive wow animated bounceIn" data-wow-delay="0.2s">
                    </div>
                </div>
            </div>

        </div>

        <div class="space-70"></div>

        <div class="container">
                <div class="heading-style-center">
                    <div class="separator-border"></div>          
                    <h2>СТАТЬИ В БЛОГЕ</h2>
                </div>  
                <div class="row">
                    <div class="col-sm-4 margin-b-40">
                        <div class="grid-post">
                            <a href="#"><img src="images/box/img-1.jpg" alt="" class="img-responsive full-img"></a>
                            <div class="grid-post-meta">
                                <h3><a href="#">Simple Blog Post</a></h3>
                                <ul class="list-inline">
                                    <li>By <a href="#">Admin</a></li>
                                    <li>22 Feb. 2016</li>
                                    <li><a href="#">Startups</a></li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod.
                                </p>
                            </div>
                        </div>
                    </div>
                  <div class="col-sm-4 margin-b-40">
                        <div class="grid-post">
                            <a href="#"><img src="images/box/img-2.jpg" alt="" class="img-responsive full-img"></a>
                            <div class="grid-post-meta">
                                <h3><a href="#">Simple Blog Post</a></h3>
                                <ul class="list-inline">
                                    <li>By <a href="#">Admin</a></li>
                                    <li>22 Feb. 2016</li>
                                    <li><a href="#">Startups</a></li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod.
                                </p>
                            </div>
                        </div>
                    </div>
                     <div class="col-sm-4 margin-b-40">
                        <div class="grid-post">
                            <a href="#"><img src="images/box/img-3.jpg" alt="" class="img-responsive full-img"></a>
                            <div class="grid-post-meta">
                                <h3><a href="#">Simple Blog Post</a></h3>
                                <ul class="list-inline">
                                    <li>By <a href="#">Admin</a></li>
                                    <li>22 Feb. 2016</li>
                                    <li><a href="#">Startups</a></li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="space-40"></div>

<%= render "footer" %>
